<head>
    <title><%= title %></title>

    <noscript>Por favor, activa JavaScript para el funcionamiento correcto de la página</noscript>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/lib/EasyButton/easy-button.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" rel="stylesheet" />
    
    <script src="/lib/leaflet/leaflet.js"></script>
    <script src="/lib/EasyButton/easy-button.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>

    <script src="http://spin.js.org/spin.umd.js"></script>
    <link href="http://spin.js.org/spin.css" rel="stylesheet" />
</head>
