<!DOCTYPE html>
<html>

  <% include header %>
    
  </body>

    <% include sidebar %>
    <div id="map"></div>

    <script src="/javascripts/mostrar_ocultar.js"></script>
    <script src="/javascripts/mapa.js"></script>

  </body>
</html>
