<!DOCTYPE html>
<html>

  <% include header %>
    
  <body>

    <% include sidebar %>
    <div id="map">
    </div>
    <script src="/javascripts/prueba2.js"></script>
    <script src="/javascripts/mostrar_ocultar.js">
    </script>
<!--
           <script>      
    function adaptRES(ree) {
        var i = 0;
        //Solo sustituye el primer que coincide, el segundo no.
        var geojsoN = ree.toString().replace(/&#34;/g, function(match) {
              i++;
              // sustituye los impares por un espacio. si es true devuelve match, que es lo que encuentra, si es falso lo cambia
              return '"';
          });
          //console.log(geojsoN);
        return geojsoN;
      } </script>
-->

    <script>      
        function adaptRES(ree) {
            var i = 0;
            //Solo sustituye el primer que coincide, el segundo no.
            var geoj = ree.toString().replace(/":"{/g, function(match) {
                    i++;
                    return '":{';
                });
            var geojsoN = geoj.toString().replace(/}"}/g, function(match) {
                    i++;
                    //PONGO ESTO PORQUE ME ELIMINA TAMBIEN EL CORCHETE
                    return '}}';
                });
                //console.log(geojsoN);
            return geojsoN;
            } 
    </script>

    <script>
        //ASI SI QUE ME LO HACE, EL PROBLEMA TIENE QUE SER CUANDO SE LO PASO AL HTML.
/*       re = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "name": "Dinagat Islands"
      },
      "geometry": {
        "type": "MultiPolygon",
        "coordinates": [
          [
            [
              [
                -3.721150157,
                40.415608556
              ],
              [
                -3.721150215,
                40.415613961
              ],
              [
                -3.721101912,
                40.415616064
              ],
              [
                -3.721100339,
                40.415579137
              ],
              [
                -3.721118018,
                40.415579027
              ],
              [
                -3.721113597,
                40.415496171
              ],
              [
                -3.721095918,
                40.415496281
              ],
              [
                -3.721094365,
                40.415461156
              ],
              [
                -3.721143856,
                40.415459946
              ],
              [
                -3.721143914,
                40.415465351
              ],
              [
                -3.721195762,
                40.415464127
              ],
              [
                -3.721195464,
                40.415436201
              ],
              [
                -3.7213086,
                40.415434594
              ],
              [
                -3.721308888,
                40.415461619
              ],
              [
                -3.721313602,
                40.41546159
              ],
              [
                -3.721320693,
                40.415463348
              ],
              [
                -3.721326615,
                40.415466013
              ],
              [
                -3.721331368,
                40.415469587
              ],
              [
                -3.721337299,
                40.415473154
              ],
              [
                -3.721340883,
                40.415477636
              ],
              [
                -3.721344467,
                40.415482118
              ],
              [
                -3.721346882,
                40.415487509
              ],
              [
                -3.721397562,
                40.415487192
              ],
              [
                -3.721400871,
                40.415576361
              ],
              [
                -3.721349023,
                40.415577586
              ],
              [
                -3.721347892,
                40.415582097
              ],
              [
                -3.721345583,
                40.415586616
              ],
              [
                -3.721343274,
                40.415591135
              ],
              [
                -3.721339777,
                40.415594761
              ],
              [
                -3.721335101,
                40.415598393
              ],
              [
                -3.721330415,
                40.415601125
              ],
              [
                -3.721324542,
                40.415602964
              ],
              [
                -3.721318668,
                40.415604802
              ],
              [
                -3.721316311,
                40.415604817
              ],
              [
                -3.72131659,
                40.415630941
              ],
              [
                -3.721199957,
                40.415636173
              ],
              [
                -3.721199659,
                40.415608247
              ],
              [
                -3.721150157,
                40.415608556
              ]
            ]
          ]
        ]
      }
    }
  ]
};
*/
        //console.log(re);

        // ESTE DE DOWN FALLA, he mod la funcion para ser algo más especifico.
/*        re = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "name": "Dinagat Islands"
      },
      "geometry": {
        "type": "MultiPolygon",
        "coordinates": [
          [
            [
              [
                -3.721150157,
                40.415608556
              ],
              [
                -3.721150215,
                40.415613961
              ],
              [
                -3.721101912,
                40.415616064
              ],
              [
                -3.721100339,
                40.415579137
              ],
              [
                -3.721118018,
                40.415579027
              ],
              [
                -3.721113597,
                40.415496171
              ],
              [
                -3.721095918,
                40.415496281
              ],
              [
                -3.721094365,
                40.415461156
              ],
              [
                -3.721143856,
                40.415459946
              ],
              [
                -3.721143914,
                40.415465351
              ],
              [
                -3.721195762,
                40.415464127
              ],
              [
                -3.721195464,
                40.415436201
              ],
              [
                -3.7213086,
                40.415434594
              ],
              [
                -3.721308888,
                40.415461619
              ],
              [
                -3.721313602,
                40.41546159
              ],
              [
                -3.721320693,
                40.415463348
              ],
              [
                -3.721326615,
                40.415466013
              ],
              [
                -3.721331368,
                40.415469587
              ],
              [
                -3.721337299,
                40.415473154
              ],
              [
                -3.721340883,
                40.415477636
              ],
              [
                -3.721344467,
                40.415482118
              ],
              [
                -3.721346882,
                40.415487509
              ],
              [
                -3.721397562,
                40.415487192
              ],
              [
                -3.721400871,
                40.415576361
              ],
              [
                -3.721349023,
                40.415577586
              ],
              [
                -3.721347892,
                40.415582097
              ],
              [
                -3.721345583,
                40.415586616
              ],
              [
                -3.721343274,
                40.415591135
              ],
              [
                -3.721339777,
                40.415594761
              ],
              [
                -3.721335101,
                40.415598393
              ],
              [
                -3.721330415,
                40.415601125
              ],
              [
                -3.721324542,
                40.415602964
              ],
              [
                -3.721318668,
                40.415604802
              ],
              [
                -3.721316311,
                40.415604817
              ],
              [
                -3.72131659,
                40.415630941
              ],
              [
                -3.721199957,
                40.415636173
              ],
              [
                -3.721199659,
                40.415608247
              ],
              [
                -3.721150157,
                40.415608556
              ]
            ]
          ]
        ]
      }
    }
  ]
}
*/
        var r = '<%- JSON.stringify(resu) %>';
        var re = adaptRES(r);
        console.log(re);
        console.log(dibujar(re));
    </script>
    
    <script src="/javascripts/mapa.js"></script>

  </body>
</html>
