<!DOCTYPE html>
<html>

  <% include header %>
    
  <body>
    <% include sidebar %>
    <div id="map">
    </div>

        
    <script src="/javascripts/prueba2.js"></script>
    <script src="/javascripts/mostrar_ocultar.js"></script>
    <script src="/javascripts/popupScript.js"></script>

    <script src="/javascripts/adaptadores.js"></script>

    <script src="/javascripts/mapa.js"></script>

  <script>
      //localStorage.setItem("FRED", "<%= resu %>");
      //let b = localStorage.getItem("FRED");
      var b =  "<%= resu %>";
      //no hace nada, recibe object, o pone entre comilllas y leugo se las quita...
      //console.log(JSON.parse(JSON.stringify(re)));
      console.log(b);
      //error porque "object" no es un json valido... VAMOS A VER SI LE PASO EL STRINGIFY
      //con el stringify ve los simbolos raros con el unpersant. ENTONCES USAR ADAPTADOR 1. SI PONGO EL STRINGIIFY ENTONCES NECESITO LOS DOS 1 Y 2
      //console.log(JSON.parse(b));

      var bb = adaptRES(b);
      var re = adaptRES2(bb);
      console.log(re);
      console.log(JSON.parse(re));
      console.log(dibujar(JSON.parse(re)));
    </script>    

  </body>
</html>
