<div id="sidebar" class="sidebar">
    <h1>Narrow Finder</h1>

    <form id = "formu" action="/c" method="GET">
        <label for="anchoVia">Ancho de via:</label>
        <input type="text" placeholder= "Introduce un número" id="anchoVia" name="anchoVia"> 
        <input type="hidden" id="box" name="bbox">
        <button type="lanzarConsulta" id="consultaBoton">Consultar</button> 
    </form>       

    <div id="consola" class="consola">
        <p id="viales_estrechos"></p>
        <p><%= alam %></p>
        <p><%= caja %></p>
        
    </div>
</div>