@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    background-color: var(--color-bg);
    color-scheme: var(--color-esqm);
    color: var(--color-text);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {

    body {
        --color-bg: rgb(53,53,53);
        --color-text: wheat;
        --color-esqm: dark;
    }

    body.light-theme {
        --color-bg: #DDDDDD;
        --color-text: #EE6352;
        --color-esqm: light;
    }
    
}

#map { 
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: margin-left .4s;
}

#consultaBoton{
    margin-left: 35%;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-bg);
    overflow-x: hidden;
    transition: 0.4s;
    /*modificar el padding para que se separe más, pe con 1%, pero mantener para la consola*/
    padding: 0.4%;
    box-sizing:border-box;
    font-family: "Roboto";
}

.sidebar h1{
    color: var(--color-text);
    font-family: "Roboto";
}

.sidebar label {
    margin:0;
    padding:0;
    list-style:none inside;
    font-size: 120%;
    color: var(--color-text);
    text-decoration: none;
}

.sidebar label, .sidebar input {
/*quitando el margin el label con lo demas se queda más pegado*/
    margin: 3%;
    display: block;
    width: 90%;
    min-width:100px;
}

.consola{
    border-radius: 15px;
    background-color: rgb(32,32,32);
    position: relative;
    bottom: 0;
    left: 0;
    margin: 8px;
}

.consola p{
    margin: 10px; 
    position: relative;
    font-size: small;
    font-family: "Roboto";
    color: #eee;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

::placeholder {
    color: var(--c, grey);
  }

.red-error .leaflet-popup-content {
    color: #ff0000;
    text-align: center;
}

.popupCenter .leaflet-popup-content {
    text-align: center;
}